
#service h2{
    padding-top: 232px;
    
}

#service p {
    text-align: center;
    color: #595959;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    padding-top: 42px !important;

}

#card {
    display: grid;
    color: #FFFFFF;
    border: 1px solid #0074FF;
    background-color: #0074FF;
    width: 170px;
    height: 275px;
    flex-shrink: 0;
    padding: 4px;
    margin: 13px;

}

#card {
    font-size: 10px;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;

}

#tottem {
    display: flex;
    justify-content: center;
    padding-top: 77px;
}

h4 {
    text-align: center;
    color: #FFF;
    font-family: sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 80px;
}

#segment h2 {
    padding-top: 221px;
}

#segment p {
    text-align: center;
    color: #595959;
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    padding-top: 42px !important;
    padding-bottom: 118px;
}

#segText p {
    font-family: sans-serif;
    text-align: left;
    color: #595959;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#segText h4 {
    color: #000;
    font-family: sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;
    }


    #vetor img{
        width: 46px;
        height: 40px;
        top: 3510px;
        left: 162px;
        padding-top: 118px;
    }

    footer{
        color: #FFFFFF;
        background-color: #1A1A1A;
        padding: 10px;
    }

    