* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

header {
    padding-top: 57px;
}

h1 {

    font-size: 64px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #1A1A1A;
    padding-top: 188px;
}

#banner img {

    width: 100%;
    padding-top: 160px;
}

#banner p {

    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: left;
    line-height: 44px;
}

.btn1 {
    color: #0074FF !important;
    height: 40px;
    width: 130px;
    font-size: 12px;
}

.btn1:hover {
    color: #FFFFFF !important;
}


#local h2 {
    color: #1A1A1A;
    font-size: 48px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 58px;
    text-align: center;
    padding-top: 321px;
}

#local p {
    color: #595959;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 44px;
    text-align: center;
    padding-top: 42px;
}

iframe {
    width: 100%;
    padding-top: 78px;
    align-items: center;
}

#servico h2 {
    color: #1A1A1A;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    padding-top: 319px;
}

#servico p {
    color: #595959;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 48px;
    text-align: center;
    padding-top: 42px;
}

h3 {
    position: absolute;
    z-index: 1;
    top: 0px;
    font-size: 36px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    line-height: 44px;
    color: #FFFFFF;
    padding-top: 105px;
    margin-right: 46px !important;
}

.card small {
    color: #FFF !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 22px !important;
    text-align: left !important;
    padding-top: 44px;
    padding-bottom: 77px;
    height: 176px;
    margin-left: 10px !important;

}

.card {
    border: 1px solid #0074FF;
    background-color: #0074FF;
    width: 250px;
    height: 448px;
    margin: 17px;
}

span {
    color: rgba(26, 26, 26, .10);
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 175px;

}


#segmentos h2 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
    line-height: 58px;
    color: #1A1A1A;
    padding-top: 221px;
}

#segmentos p {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    line-height: 44px;
    color: #595959;
    padding-bottom: 111px;
}

#segmentos img {
    filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, .7));
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 29px;
    color: #000000;
    padding-left: 28.5px;
    padding-top: 8px;
}

#text p {
    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-top: 15px;
    padding-left: 28.5px;
}

#textTo p {
    color: #595959;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    padding-top: 15px;
    padding-left: 28.5px;
}


footer {
    height: 150px;
    width: 100%;
    background-color: #1A1A1A;
    top: 4320px;
}

footer p {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    padding-top: 67px;
}

footer img {
    padding-top: 57px;
    padding-left: 206px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF;
    color: #000000;
}

.nav-links a {
    color: #000000;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li a:hover {
    color: #0074FF;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}

/* MENU SUSPENSO */
.services {
    position: relative;
}

.services:hover .dropdown {
    display: block;
}

input[type=checkbox] {
    display: none;
}

/*HAMBURGER MENU*/
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
/* APLICAÇÃO MEDIA QUERIES */
@media (min-width: 425px) and (max-width: 767px){

    html {
        font-size: 62.2%;
    }

    body {
        overflow: none;
    }

    #banner h1 {
        font-size: 20px;
        text-align: left!important;
    }

    #banner p {
        font-size: 18px!important;
        text-align: left!important;
        line-height: 20px;
        margin: -30px;
        padding-top: 55px;
        padding-bottom: 55px;
        padding-left: 20px;
    }

    #local h2 {
        font-size: 33px;
        text-align: center;
        padding-top: 200px;
        padding-left: 30px;
    }
    
    #local p {
        font-size: 20px!important;
        text-align: center!important;
        line-height: 20px;
        padding-left: 30px;
    }

    #servico h2 {
        font-size: 33px;
        padding-top: 200px!important;
        padding-left: 30px;
        text-align: center;
    }

    #servico p {
        font-size: 20px!important;
        text-align: center!important;
        line-height: 20px;
        padding-bottom: 42px;
        padding-right: 20px;
        padding-left: 30px;
        
    }

    #segmentos h2 {
        font-size: 33px!important;
        padding-left: 30px;
        text-align: center;
    }
    #segmentos p {
        font-size: 20px!important;
        text-align: center!important;
        line-height: 20px;
        padding-left: 50px;
        padding-bottom: 42px;
        padding-right: 20px;
        padding-left: 30px;
    }

    #segmentos h4 {
        font-size: 14px;
        text-align: center;
        width: 100%;
    }

    .card {
        border: 1px solid #0074FF;
        background-color: #0074FF;
        width: 250px;
        height: 448px;
        margin-left: 35px!important;
    }

    .menu {
        display: none;
        position: absolute;
        background-color: #FFF;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        margin-top: 20px;
    }

    .menu li a:hover {
        display: inline-block;
        color: #0074FF;
        transition: 0.3s ease;
    }

    .menu li+li {
        margin-top: 20px;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .row {
        display: block;
        text-align: center;
        width: 100%;
    }

    #banner {
        font-size: 20px;
    }

    #banner img {
        width: 100vw;
        max-width: 100%;
        padding-top: 160px;
        
    }

    section {
        margin: 20px 50px;
    }

    
    img, svg {
        vertical-align: middle;
        padding-left: 20px;
    }

    .row .card {
        margin: 64px;
    }

    footer {
        height: 150px;
        width: 412px!important;
        background-color: #1A1A1A;
    }

    footer img {
        height: 80px;
        padding-left: 0;
        

    }

    footer p {
        font-size: 6px!important;
        padding-top: 0;
        padding-left: 0;
        text-align: center;
    }
    

}


@media (min-width: 767px) and (max-width: 1023px){

    #banner h1 {
        font-size: 50px;
        text-align: left!important;
    }

    #banner p {
        font-size: 23px!important;
        text-align: left!important;
        line-height: initial;
        margin: -30px;
        padding-top: 55px;
        padding-bottom: 55px;
        padding-left: 35px;
    }

    #local h2 {
        font-size: 50px;
        text-align: center;
        padding-top: 200px;
        padding-left: 200px;
    }
    
    #local p {
        font-size: 20px!important;
        text-align: center!important;
        padding-left: 200px;

    }

    #servico h2 {
        font-size: 50px;
        padding-top: 200px!important;
        padding-left: 200px;
        text-align: center;
    }

    #servico p {
        font-size: 20px!important;
        text-align: center!important;
        padding-left: 200px;
            
    }

    #segmentos h2 {
        font-size: 50px!important;
        padding-left: 200px;
        text-align: center;
        padding-bottom: 42px;
    }

    #segmentos p {
        font-size: 20px!important;
        text-align: center!important;
        padding-left: 200px;

    }

    #segmentos h4 {
        font-size: 14px;
        text-align: center!important;
    }

    #text p {
        color: #595959;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding-top: 15px;
        padding-left: 28.5px;
    }
    
    #textTo p {
        color: #595959;
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        text-align: left;
        padding-top: 15px;
        padding-left: 28.5px;
    }

    .card {
        border: 1px solid #0074FF;
        background-color: #0074FF;
        width: 250px;
        height: 448px;
        margin-left: 300px!important;
    }

    .menu {
        display: flex;
        gap: 1em;
        font-size: 18px;
        padding-left: 408px;
        margin-top: -37px;

    }
    
    .menu li a:hover {
        color: #0074FF;
        border-radius: 5px;
        transition: 0.3s ease;
    }
    
    .menu li {
        padding: 5px 14px;
    }
  

    .row {
        display: block;
        text-align: center;
        width: 100%;
    }

    #banner {
        font-size: 20px;
    }

    #banner img {
        width: 100vw;
        padding-top: 160px;
        padding-right: 160px;
    }

    section {
        margin: 20px 50px;
    }

    
    img, svg {
        vertical-align: middle;
        padding-left: 20px;
    }

    #segmentos img {
        padding-left: 295px;
    }

    #segmentos .col-sm-4 {
        flex: 0 0 auto;
        width: 100%; 
        padding-left: 200px;
    }

    .row .card {
        margin: 64px;
    }

    footer {
        width: 100%;
    }

   
    footer img {
        width: 100%;
        max-width: 100%;
        padding-left: 0;
        

    }

    footer p {
        padding-top: 0;
        text-align: center!important;
    }
    

}




