* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(../image/pattern4.png);
    font-size: 1.6rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
    background-color: #ddd;
    opacity: .8;
    border-radius: 2px;
    width: 15%;
}

.content {
    max-width: 1200px;
    margin: 0 auto;
}

.parent {
    color: black;
    display: flex;
    font-family: sans-serif;
    font-weight: bold;
    padding: 2rem;
}

.origin {
    flex-basis: 100%;
    flex-grow: 1;
    padding: 1rem;
}

.draggable {
    border: 1px solid #fff;
    background-color: #ddd;
    cursor: grab;
    font-weight: normal;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    
}

.dropzone {
    border: 2px dashed #ddd;
    background-color: #eee;
    flex-basis: 100%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    
}

.dropzone:hover {
    border-color: #339;
}